.header{
    display: flex;
    flex-direction: row;
    align-items: center; 
    position: static;
    min-height: 20%;
    width: 100%; /* #trocar para % */
    background-color:rgb(210,227,252);
    z-index: 1;
    justify-content: space-around;

}

.header ul{
    display: flex;
    column-gap: 30px;
    list-style: none;
    text-decoration: none;
    
}

Link{
    text-decoration: none;
}

.mensage{
    display: inline-flex;
    justify-content:flex-end;
    align-items: center;
    height: 100%;
    width: 60%;

}

.logo{
    display: flex;
    justify-content: center;
    width: 30%;
}

.logo img{
    width: 40%;
    height: 50%;
}
