.header {
    background-color: rgb(210, 227, 252);
    color: #333; 
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.header{
    color: #333; 
}

.header a {
    text-decoration: none;
    color: inherit;
}
