
.h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: blue
}

.content{
  background-color: aqua;
}

.imgBooks {
  width: 70%;
  height: 80%;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.imgBooks:hover {
  transform: scale(1.1);
}
