.content-stack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 10%;
    /* background-color: blueviolet; */
}

.content-search{
    padding: 0.5%;
    width: 25%;
    /* border-bottom: 3px solid rgb(65, 65, 128); */
}

.search{
   width: 100%;
   height: 100%;
   margin: 0;
   outline: none;
   border: none;
}